#banner {
	background-image: url('../img/banner/figure.svg');
    background-position: 0px -185px;
    background-size: 700px 800px;
	background-repeat: no-repeat;
}

.banner {
	padding-top: 200px;
	display: flex;
	align-items: center;
}

.banner-left {
	flex-basis: 70%;
}

.banner-right {
	flex-grow: 1;
}

.banner_title {
	margin-bottom: 24px;
}
.banner_title h1 {
	font-weight: bold;
	font-size: 64px;
	line-height: 78px;
	color: #000000;
}

.banner_text {
	margin-bottom: 10px;
}
.banner_text p {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}


@media (min-width: 1700px) {
	.banner_img-human {
		max-width: 120%;
	}
}

@media (max-width: 1400px) {
	#banner {
		background-position: -100px -150px;
		background-size: 600px 700px;
	}
	.banner_title h1 {
		font-size: 50px;
		line-height: 68px;
	}
}

@media (max-width: 992px) {

	#banner {
		background-position: -180px -70px;
		background-size: 70% 80%;
	}

/*	#banner {
	    background-position: -86px -80px;
	    background-size: 450px 450px;
	}
*/
	.banner-left {
		flex-basis: 100%;
	}
	.banner_title h1 {
		font-size: 40px;
		line-height: 58px;
	}
	.banner {
		padding-top: 100px;
	}
	.banner_text p {
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		color: #000000;
	}
}

@media (max-width: 768px) {

	#banner {
		background-position: 0 -70px;
		background-size: 400px 300px;
	}

	.banner {
		flex-direction: column;
	}

	.banner-left {
		text-align: center;
	}

	.banner_text {
		max-width: 540px;
		padding: 0 20px;
		margin: 0 auto;
		margin-bottom: 32px;
	}

	.banner-right {
		margin-top: 60px;
	}

}

@media (max-width: 576px) {

	#banner {
		background-position: 0 -50px;
		background-size: 300px 200px;
	}

	.banner_title h1 {
		font-size: 22px;
		line-height: 27px;
	}

	.banner_text {
		max-width: 328px;
	}

	.banner_text p {
		font-size: 14px;
		line-height: 17px;
	}
}