.section-info {
	max-width: 992px;
	padding: 0 20px;
	margin: 0 auto;
	margin-bottom: 140px;
	text-align: center;
}

.title {
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	color: #000000;
	margin-bottom: 24px;
}

.title-sm {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
	margin-bottom: 24px;
}

.text {
	font-weight: normal;
	font-size: 48px;
	line-height: 59px;
	color: #000000;
}

.text-sm {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.benefits_cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
}
.benefits_card {
	background: linear-gradient(315deg, #313840 0%, rgba(49, 56, 64, 0.8) 100%);
	opacity: 0.9;
	padding: 20px;
	width: 300px;
	height: 300px;
	position: relative;
	margin: 20px 40px;
}

.card_wrapper {
	background: #495563;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.card_info {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: linear-gradient(315deg, #313840 0%, rgba(49, 56, 64, 0.8) 100%);
	opacity: 0;
	text-align: center;
	transition: all 0.3s ease;
}

.benefits_card:hover .card_info {
	opacity: 0.9;
	transition: all 0.3s ease;
}
.card_title {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	margin-bottom: 24px;
}
.card_text {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}
.card_wrapper img {
	margin: 0 auto;
	width: 128px;
	height: 128px;
	max-width: 100%;
}


.benefits_img-bg {
	position: absolute;
}

.almaz_img {
	left: -100px;
	bottom: -100px;
}

.baloon_img {
	right: -30px;
	top: -100px;
}

@media (max-width: 992px) {
	.title {
		font-size: 40px;
		line-height: 50px;
	}
	.title-sm {
		font-size: 32px;
		line-height: 40px;
	}
	.benefits_card {
		width: 100%;
	}
	.card_info {
		position: static;
		display: flex;
		align-items: center;
		opacity: 1;
		background: none;
	}
	.section-info {
		margin-bottom: 70px;
	}
	.text {
		font-size: 36px;
		line-height: 46px;
	}
	.text-sm {
		font-size: 16px;
    	line-height: 20px;
	}
}

@media (max-width: 768px) {
	.section-info {
		margin-bottom: 46px;
	}
	.title {
		font-size: 36px;
		line-height: 40px;
	}
	.title-sm {
		font-size: 24px;
		line-height: 36px;
	}
	.text {
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
	}

	.text-sm {
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
	}

	.card_title {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 8px;
	}

	.card_text {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		color: #FFFFFF;
	}

	.almaz_img {
		width:  150px;
		height: 150px;
		left: -40px;
		bottom: -80px;
	}

	.baloon_img {
		width:  150px;
		height: 150px;
		right: -30px;
		top: -60px;
	}

}

@media (max-width: 576px) {
	.benefits_card {
		padding: 10px;
		margin: 20px 0;
		max-height: 200px;
	}
	.card_wrapper img {
		width:  90px;
		height: 90px;
	}
	.title {
		font-size: 22px;
		line-height: 27px;
	}
	.title-sm {
		font-size: 18px;
		line-height: 24px;
	}
	.text {
		font-size: 14px;
		line-height: 17px;
	}
	.text-sm {
		font-size: 14px;
		line-height: 17px;
	}
	.card_info {
		padding: 10px;
	}
	.almaz_img {
		width:  100px;
		height: 100px;
		left: -40px;
		bottom: -80px;
	}

	.baloon_img {
		width:  100px;
		height: 100px;
		right: -30px;
		top: -60px;
	}
}