#footer {
	/*margin-top: 100px;*/
	padding: 99px 0;
	color: #fff;
	background: #313840;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-left {
	width: 400px;
}

.footer_title {
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
	color: #F3F3F3;
	margin-bottom: 24px;
}

.footer_text {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #F3F3F3;
}

.footer_title-sm {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #F3F3F3;
	margin-top: 64px;
}

.footer_link {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #F3F3F3;
	margin: 7px 0;
	display: inline-block;
}

.footer_input {
	background: #F3F3F3;
	border: 1px solid #F3F3F3;
	box-sizing: border-box;
	border-radius: 10px 0px 0px 10px;
	height: 64px;
	width: 280px;
	font-size: 24px;
	line-height: 29px;
	color: #313840;
	padding-left: 17px;
}

.search {
	margin-top: 25px;
	display: flex;
	align-items: stretch;
}

.search_btn {
	padding: 0 14px;
	border: none;
	background: #F3F3F3;
	border: 1px solid #F3F3F3;
	box-sizing: border-box;
	border-radius: 0px 10px 10px 0px;
}


@media (max-width: 992px) {

	.footer_title {
		font-size: 36px;
		line-height: 46px;
		margin-bottom: 24px;
	}

	.footer_text {
		font-size: 18px;
		line-height: 24px;
	}

	.footer_title-sm {
		font-size: 20px;
		line-height: 24px;
		margin-top: 46px;
	}

	.footer_link {
		font-size: 20px;
		line-height: 24px;
		margin: 5px 0;
	}

	.footer_input {
		height: 50px;
		width: 220px;
		font-size: 20px;
		line-height: 24px;
		padding-left: 12px;
	}

	.search {
		margin-top: 20px;
	}

}


@media (max-width: 768px) {

	#footer {
		padding: 50px 0;
	}

	.footer {
		flex-wrap: wrap;
	}

	.footer_input {
		width: 280px;
	}

	.footer-right {
		margin-top: 50px;
	}

}


@media (max-width: 576px) {

	#footer {
		padding: 20px 0;
	}

	.footer_title {
		font-weight: 600;
		font-size: 22px;
		line-height: 27px;
	}

	.footer_text {
		font-size: 14px;
		line-height: 17px;
	}

	.footer_title-sm {
		margin-top: 24px;
		font-size: 14px;
		line-height: 17px;
	}

	.footer_link {
		font-size: 18px;
		line-height: 22px;
		font-weight: 500;
	}

	.footer_link img {
		transform: translateY(3px);
		width: 25px;
    	height: 20px;
	}

	.footer_input {
		width: 100%;
		padding: 0 20px;
		font-size: 14px;
		line-height: 17px;
	}

	.footer-right {
		margin-top: 30px;
		width: 100%;
	}

}