@import 'header.css';
@import 'banner.css';
@import 'banner-2.css';
@import 'benefits.css';
@import 'slider.css';
@import 'elephant.css';
@import 'footer.css';
@import 'cards.css';
@import 'tech.css';
@import 'road.css';
@import 'simple-cards.css';
@import 'beta.css';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body {
	min-height: 100%;
	overflow-x: hidden;
	background: #E5E5E5;
}

.wrapper {
	max-width: 1459px;
	padding: 0 30px;
	margin: 0 auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
}

a:focus, input:focus, textarea:focus, button:focus {
	outline: none;
}

img {
	max-width: 100%;
}

.main_btn {
	display: inline-block;
	cursor: pointer;
	border: none;
	padding: 26px 57px;
	background: #313840;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}

.section {
	margin-top: 180px;
}

.semi-section {
	margin-top: 80px;
}

.last-section {
	position: relative;
	background-image: url('../img/banner/figure-2.svg');
	background-repeat: no-repeat;
	background-size: 600px;
	background-position: bottom -380px right;
}

.last-section .wrapper {
	padding-bottom: 500px;
}

.prizma-img {
	width: 400px;
	position: absolute;
	bottom: 0;
	left: 0;
}

@media (max-width: 992px) {
	.section {
		margin-top: 100px;
	}
	.semi-section {
		margin-top: 50px;
	}
	.wrapper {
		padding: 0 20px;
	}
	.main_btn {
		padding: 20px 40px;
		font-size: 20px;
		line-height: 24px;
	}
	.last-section {
		background-size: 450px;
		background-position: bottom -280px right;
	}
	.last-section .wrapper {
		padding-bottom: 400px;
	}
	.prizma-img {
		width: 300px;
	}
}

@media (max-width: 768px) {
	.semi-section {
		margin-top: 0;
	}
	.last-section {
		padding-bottom: 50px;
	}
	.last-section {
		background-size: 350px;
		background-position: bottom -220px right;
	}
	.last-section .wrapper {
		padding-bottom: 300px;
	}
	.prizma-img {
		width: 250px;
	}
}

@media (max-width: 576px) {
	.section {
		margin-top: 46px;
	}
	.main_btn {
		font-size: 12px;
		line-height: 15px;
		padding: 10px 22px;
	}
	.last-section {
		background-size: 200px;
		background-position: bottom -100px right;
	}
	.last-section .wrapper {
		padding-bottom: 200px;
	}
	.prizma-img {
		left: -20px;
		bottom: 80px;
		width: 150px;
	}
}