.slider_text {
	width: 712px;
	margin: 0 auto;
}

.slider-item {
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 400px;
	margin: 0 40px;
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	text-align: center;
}

.slider-top {
	height: 200px;
	background: #C4C4C4;
	border-radius: 10px 10px 0px 0px;
}
.slider-top img {
	height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.slider-bottom {
	padding: 0 16px;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider-text {
	text-align: left;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

/* Слайдер */
.slick-slider{
	position: relative;
	padding: 20px 5px;
	overflow: hidden;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
	
}
/* Лента слайдов */
.slick-track{
	display: flex;
}
/* Слайд */
.slick-slide {

}
.slick-slide:focus{
	outline: none;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
	cursor: pointer;
	font-size: 0;
	position: absolute;
	top: calc(50% - 40px);
	width:  80px;
	height: 80px;
	background: #313840;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	border: none;
	z-index: 9;
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center;
}
.slick-prev {
	left: 0;
	background-image: url('../img/slider/arrow-prev.png');
}

/* Стрелка влево */
.slick-next{
	right: 0;
	background-image: url('../img/slider/arrow-next.png');
}



@media (max-width: 1200px) {

	.slider-item {
		margin: 0 20px;
	}

}

@media (max-width: 992px) {

	.slick-arrow{
		width:  60px;
		height: 60px;
	}
}

@media (max-width: 768px) {

	.slider-item {
		margin: 0 10px;
	}
}

@media (max-width: 576px) {

	.slider-top {
		height: 126px;
	}

	.slider-item {
		width: 250px;
		height: 250px;
		margin: 0 30px;
	}

	.slick-arrow{
		width:  36px;
		height: 36px;
		top: calc(50% - 18px);
	}

	.slider-text {
		font-size: 14px;
		line-height: 17px;
	}

}

@media (max-width: 420px) {

	.slider-item {
		margin: 0 10px;
	}

}