.tech-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
}

.block-img {
	flex-basis: 70%;
}

.block-info {
	flex-grow: 1;
	position: relative;
	padding-left: 100px;
}

.point-img {
	position: absolute;
	width: 140px;
	height: 170px;
	left: -30px;
}

.tech-reverse-block .block-info {
	padding-left: 0;
	padding-right: 50px;
}

.tech-reverse-block .point-img {
	position: absolute;
	left: auto;
	right: -70px;
}

/*.block-info .text-sm {
	font-size: 24px;
	line-height: 29px;
}*/

@media (max-width: 992px) {

	.tech-block {
		margin: 24px 0;
		flex-wrap: wrap;
		justify-content: center;
	}

	.block-img {
		text-align: center;
	}

	.tech-reverse-block .block-img {
		order: -1;
	}

	.tech-reverse-block .point-img {
		position: absolute;
		left: -20px;
		right: auto;
	}

	.point-img {
		position: absolute;
		width: 80px;
		height: 100px;
		left: -20px;
	}

	.block-info {
		padding-left: 60px;
	}

	.tech-reverse-block .block-info {
		padding-right: 10px;
		padding-left: 70px;
	}	

}