.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	width: 100%;
	height: 500px;
	padding: 60px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(277.03deg, #F3F3F3 0%, rgba(243, 243, 243, 0.79) 100%);
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	margin-bottom: 72px;
}

.card-info-parent {
	display: flex;
	align-items: center;
}

.card-reverse .card-info {
	text-align: right;
}

.card-info {
	max-width: 712px;
	margin: 0 24px;
}

.card-info .text-sm {
	margin-bottom: 24px;
}

@media (max-width: 992px) {

	.card {
		width: 100%;
		height: 350px;
		padding: 30px 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: linear-gradient(277.03deg, #F3F3F3 0%, rgba(243, 243, 243, 0.79) 100%);
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		margin-bottom: 50px;
	}

	.card-info-parent img {
		width: 70px;
		height: 70px;
	}

}

@media (max-width: 768px) {

	.card {
		width: 100%;
		height: auto;
		padding: 20px 30px;
		flex-wrap: wrap;
		margin-bottom: 30px;
	}
	.card-info-parent {
		order: 1;
	}
	.card-img {
		text-align: center;
		flex-basis: 80%;
		margin: 0 auto;
	}
	.card-info-parent {
		text-align: center;
		flex-basis: 100%;
	}
	.card-reverse .card-info {
		text-align: center;
	}
	.card-info-parent img {
		display: none;
	}

}

@media (max-width: 768px) {

	.card {
		padding: 15px;
		margin-bottom: 20px;
	}

	.card-img img {
		max-height: 300px;
	}
	
}